<div class="welcome">
  <div class="welcome-background"></div>
  <div class="welcome-content">
    <h1>Welcome to Web Init!</h1>
    <p>Web Init is a modern starter kit for developing websites which includes a preconfigured build process and a project structure that can be built upon.</p>
    <p>This package comes preinstalled with:</p>
    <ul>
      <li>
        <a href="http://sass-lang.com/" target="_blank">SASS</a>
      </li>
      <li>
        <a href="http://postcss.org/" target="_blank">PostCSS</a>
      </li>
      <li>
        <a href="https://github.com/postcss/autoprefixer" target="_blank">Autoprefixer</a>
      </li>
      <li>
        <a href="https://eslint.org/" target="_blank">ESLint</a>
      </li>
      <li>
        <a href="https://github.com/airbnb/javascript" target="_blank">Airbnb Style Guide</a>
      </li>
      <li>
        <a href="http://sass-lang.com/" target="_blank">JQuery</a>
      </li>
      <li>
        <a href="https://webpack.js.org/" target="_blank">Webpack 4</a>
      </li>
    </ul>
    <p>Thank you for using Web Init. Happy coding!</p>
    <img src="${require(`../assets/web.svg`)}" alt="">
  </div>
</div>